body {
    padding: 30px;
}

header {
    background: lightblue;
    grid-area: header;
}

section {
    background: lightgreen;
    grid-area: section;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    background: pink;
    grid-area: aside;
}

header, article, section, .module {
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-template-areas: "header header header" "section section aside" "section section aside";
}