.description-list {
    margin-left: 0;
    padding-left: 0;
}

.description-list ul li {
    list-style-type: none;
}

.description-list li {
    list-style-type: none;
}

.colored-div {
    background-color: green;
    width: 400mm;
    font-family: "Palatino Linotype";
}

.ordered-list-div {
    background-color: rgb(185, 140, 140);
    height: 30rem;
    width: 30vw;
    font-family: "arial";
    font-size: 28px;
}

.unordered-list-div {
    background-color: #3f4f33;
    width: 2.5in;
    height: 300pt;
    font-family: "Georgia";
}

.paragraphs-div {
    background-image: url(https://st4.depositphotos.com/15827116/19629/i/600/depositphotos_196295648-stock-photo-close-up-view-of-brown.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-family: "Lucida Console";
}

.tables-div {
    background-color: #d6b5d2;
    height: 15em;
}

.pre-tag-div pre {
    font-family: "RalewayRegular";
    font-size: 30px;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}