.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 70px;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}


.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.jumping-ball {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 600px;
    margin: 70px;
}

.jumping-ball div:nth-child(2) {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #CC3F85;
    border-radius: 100%;
    animation: jumping-ball 1s ease-in infinite alternate-reverse, ball-moveLeft 2s linear infinite alternate;
}

.jumping-ball div:nth-child(1), .jumping-ball div:nth-child(3) {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 18px;
    bottom: -10px;
    background-color: black;
}

.jumping-ball div:nth-child(1) {
    left: 0%;
    transform: rotate(20deg);
}

.jumping-ball div:nth-child(3) {
    left: 100%;
    transform: rotate(-20deg);
}

@keyframes jumping-ball {
    0% {
        bottom: 80%;
    }

    95% {
        bottom: 0;
        width: 100px;
        height: 100px;
    }

    100% {
        bottom: 0;
        width: 110px;
        height: 50px;
    }

}

@keyframes ball-moveLeft {
    from {
        left: 5%;
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-20deg);
        left: 95%;
    }
}

.changing-figure {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 70px;
}

.changing-figure div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 8px;
    background: linear-gradient(-45deg, #2e77ff, #e6a296, #d879eb, #d0bb00);
    background-size: 400% 200%;
    animation: changing-figure 10s linear infinite;
}

@keyframes changing-figure {
    0% {
        background-position: 0% 50%;
        border-radius: 50%;
    }

    20% {
        border-radius: 0%;
        background-position: 0% 50%;
    }

    40% {
        background-position: 100% 50%;
        transform: none;
    }

    60% {
        transform: scale(2, 0.5);
    }

    80% {
        background-position: 100% 50%;
        transform: rotate(0.5turn);
    }

    90% {
        background-position: 0% 50%;
        border-radius: 0%;
    }

    100% {
        border-radius: 50%;
        transform: rotate(0.5turn);
    }

}